.app {
  display: flex;
  flex-direction: column;
  max-width: 1240px;
  height: 100vh;
  margin: 0 auto;
  color: var(--text-primary-color);
  background-color: var(--background-alt);
}

.errorContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #f2f2f3;
  background-color: #1a1b22;
}
