.app {
  display: flex;
  flex-direction: column;
  max-width: 1240px;
  height: 100vh;
  margin: 0 auto;
  color: var(--text-primary-color);
  background-color: var(--background-alt);
}

.title {
  width: 100%;
  margin: 0;

  /* max-width: 1260px; */

  /* margin-right: auto;
  margin-left: auto; */

  /* border: 3px, solid;
  border-color: red; */
}

.main {
  display: flex;
  justify-content: space-between;
  width: 1240px;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;

  /* border: 3px, solid;
  border-color: red; */
}

.errorContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #f2f2f3;
  background-color: #1a1b22;
}
