/* 
 Контейнер списка заказов внутри личного кабинета.
 По ТЗ он рендерится как вложенный роут справа от навигационного меню профиля.
*/

.container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  max-width: 844px; /* Ограничиваем ширину списка в Личном Кабинете */
  height: calc(100vh - 250px); /* Фиксируем высоту под внутренний скролл */
  padding-right: 8px;
  overflow-y: auto;
}
